<md-option value="1">g</md-option>
<md-option value="2">mg</md-option>
<md-option value="3">mcg</md-option>
<md-option value="6">cup</md-option>
<md-option value="7">fluid ounce</md-option>
<md-option value="8">fl</md-option>
<md-option value="9">gal</md-option>
<md-option value="10">oz</md-option>
<md-option value="11">pt</md-option>
<md-option value="12">qt</md-option>
<md-option value="13">tbs</md-option>
<md-option value="14">tsp</md-option>
<md-option value="15">stick</md-option>
<md-option value="16">l</md-option>
<md-option value="17">ml</md-option>
<md-option value="18">dl</md-option>
<md-option value="19">lb</md-option>
<md-option value="20">kg</md-option>
<md-option value="21">dkg</md-option>
<md-option value="22">cl</md-option>