<label>Retailer:</label>
<ol class="nya-bs-select" ng-model="model" placeholder="Search..." data-live-search="true" multiple>
    <li data-value="" class="nya-bs-option">
        <li data-value="safeway" class="nya-bs-option">
            <a>
                safeway
                <span class="fa fa-check check-mark"></span>
            </a>
        </li>
        <li data-value="peapod" class="nya-bs-option">
            <a>
                peapod
                <span class="fa fa-check check-mark"></span>
            </a>
        </li>
        <li data-value="walmart" class="nya-bs-option">
            <a>
                walmart
                <span class="fa fa-check check-mark"></span>
            </a>
        </li>
        <li data-value="freshdirect" class="nya-bs-option">
            <a>
                freshdirect
                <span class="fa fa-check check-mark"></span>
            </a>
        </li>
        <li data-value="instacart" class="nya-bs-option">
            <a>
                instacart
                <span class="fa fa-check check-mark"></span>
            </a>
        </li>
        <li data-value="shipt" class="nya-bs-option">
            <a>
                shipt
                <span class="fa fa-check check-mark"></span>
            </a>
        </li>
    </li>
</ol>